/* General */

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

address {
    font-style: normal;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.section-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em
}

.text {
    font-size: 16px;
}

/* Navigation */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.dark-accent {
    color: #2e2f42;
}

.light-accent {
    color: #f4f4fd;
}

.nav-item {
    font-weight: 500;
    color: #2e2f42;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active,
.address-item:hover,
.address-item:focus,
.address-item:active {
    color: #404bbf;
}


/* Hero Section */

.hero-section {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404bbf;
}


/* Team */

.team-section {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #FFFFFF
}

.team-sub-title {
    text-align: center;
}


/* Footer */

.footer {
    background-color: #2e2f42;
}

.footer-text {
    color: #f4f4fd;
}